@import "config";

.main {
  max-width: 1920px;
  padding-top: 150px;
  margin: 0 auto 100px;

  @media (max-width: $mobileWidth) {
    padding: 100px 15px 0;
    margin: 0 auto 50px;
  }

  .company {
    max-width: 500px;
    margin: 0 auto 50px;

    h1 {
      font-size: 28px;
      font-weight: normal;
      margin-bottom: 5px;
    }

    h3 {
      color: rgba(0, 0, 0, .5);
      margin: 0;
      font-size: 16px;
      font-weight: normal;
    }
  }

  .picture {
    padding: 0 36px;
    margin-bottom: 50px;

    img {
      width: 100%;
    }
  }

  .html {
    max-width: 500px;
    margin: 0 auto;
  }
}