@import "config";

.main {
  padding-top: 150px;
  max-width: 500px;
  margin: 0 auto 100px;

  @media (max-width: $mobileWidth) {
    padding: 100px 15px 0;
  }

  .company {
    margin-bottom: 50px;

    h1 {
      font-size: 28px;
      font-weight: normal;
      margin-bottom: 5px;
    }

    h3 {
      color: rgba(0, 0, 0, .5);
      margin: 0;
      font-size: 16px;
      font-weight: normal;
    }
  }

  .container {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;

    li {
      margin-bottom: 50px;

      h3 {
        color: rgba(0, 0, 0, .8);
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        color: rgba(0, 0, 0, .5);
        margin: 5px 0;
      }
    }
  }

  .picture {

    img {
      width: 100%;
    }
  }
}