@import "config";

.footer {
  padding: 20px 0;

  a {
    color: #000;
  }

  .foot {
    letter-spacing: 0;
    font-size: 16px;
    margin: 0 auto;
    padding: 0 36px;

    .copyright {
      display: inline;
      text-align: center;
      margin-right: 10px;

      @media (max-width: $mobileWidth) {
        display: block;
        margin-right: 0 !important;
      }
    }

    .nav {
      display: inline;
      list-style: none;
      text-align: center;
      margin-right: 20px;

      @media (max-width: $mobileWidth) {
        display: block;
        margin-right: 0 !important;
      }

      li {
        display: inline-block;

        a {
          display: block;
          padding: 0 5px;
        }
      }
    }

    .certification {
      display: inline;
      list-style: none;
      text-align: center;
      margin-right: 20px;

      @media (max-width: $mobileWidth) {
        display: block;
        margin-right: 0 !important;
      }

      li {
        display: inline-block;

        a {
          display: block;
          padding: 0 5px;
        }
      }
    }

    .back {
      cursor: pointer;
      display: inline;
      float: right;
      font-weight: bolder;

      @media (max-width: $mobileWidth) {
        display: none;
      }
    }
  }
}