@import "@arco-design/web-react/dist/css/arco.css";

@import "nprogress";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.clear {
  clear: both;
}

.scroll-fade-in {
  transition: .6s;
  opacity: 0;
  transform: translateY(50px);

  &.is-visible {
    opacity: 1 !important;
    transform: translateY(0);
  }
}
