@import "config";

.header {
  width: 100vw;
  position: absolute;

  .head {
    width: 100%;
    margin: 0 auto;
    display: flex;

    .logo {
      width: clamp(140px, 12vw, 240px);
      padding: 2vw;
      z-index: 99;
      flex: 0 0 clamp(140px, 12vw, 240px);

      a {
        display: block;

        img {
          width: 100%;
        }
      }

    }

    .pc {
      flex: 1 1 auto;
      padding-top: 15px;
      text-align: right;
      list-style: none;
      margin: 2vw 2vw 2vw 0;
      z-index: 88;

      &.light {

        a {
          color: white;
        }
      }

      @media (max-width: 768px) {
        display: none;
      }

      li {
        display: inline-block;
        line-height: 1.3em;

        a {
          text-align: center;
          width: 100px;
          padding: 10px 0;
          display: block;
          text-underline: none;
          text-decoration: none;
          color: #000000;

          .name {
            display: inline;
          }

          .alias {
            display: none;
          }

          &:hover {

            .name {
              display: none;
            }

            .alias {
              display: inline;
            }
          }
        }
      }
    }
  }
}

.toggle {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: $primaryColor;
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 32px;
  font-weight: lighter;
  z-index: 100;
  transition: all .2s ease-in-out;

  &.action {
    color: $primaryColor;
    background: rgba(240, 245, 247, .6);
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.mobile {
  z-index: 99;

  @media (min-width: 768px) {
    display: none !important;
  }

  :global {
    .arco-drawer-close-icon {
      position: absolute;
      color: #323232;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 32px;
      text-align: center;
      background: rgba(240, 245, 247, .6);
    }
  }

  .navigation {
    background: #323232;

    .logo {
      width: 180px;
      margin: 10px 10px 30px 10px;

      img {
        width: 100%;
      }
    }

    .nav {

      ul {
        margin-top: 50px;
        list-style: none;

        li {
          text-align: center;
          line-height: 2.3em;
          margin-bottom: 10px;

          a {
            color: white;
            font-size: 1.8em;
          }
        }
      }
    }
  }
}
