@import "config";

.pc {
  width: 100vw;
  position: absolute;

  @media (max-width: 768px) {
    display: none;
  }

  .head {
    width: 100%;
    margin: 0 auto;
    display: flex;

    .logo {
      height: 13px;
      padding: 31px 0 0 36px;
      z-index: 99;
      flex: 0 0 40px;

      a {
        display: block;
        height: 100%;

        img {
          width: auto;
          height: 100%;
        }
      }

      @media (max-width: 768px) {
        padding: 20px 0 0 10px;
      }
    }

    .nav {
      flex: 1 1 auto;
      text-align: right;
      list-style: none;
      margin: 31px 36px 0 0;
      z-index: 88;

      &.light {

        a {
          color: white;
        }
      }

      li {
        display: inline-block;
        line-height: 40px;
        font-size: 12px;
        letter-spacing: 0;

        a {
          padding: 0 10px;
          height: 40px;
          text-align: center;
          //width: 100px;
          display: block;
          text-underline: none;
          text-decoration: none;
          color: #000000;
          overflow: hidden;

          span {
            display: block;
          }

          .alias {
            font-size: 12px;
          }

          &:hover {

            .name {
              position: relative;
              top: -40px;
              //display: none;
            }

            .alias {
              position: relative;
              top: -40px;
              //display: inline;
            }
          }
        }
      }
    }
  }
}

.mobile {
  position: fixed;
  width: 100%;
  z-index: 77;

  @media (min-width: 768px) {
    display: none;
  }

  .head {
    width: 100%;
    height: 60px;

    .logo {
      height: 60px;

      a {
        display: inline-block;
        height: 22px;
        margin-top: 19px;
        margin-left: 15px;

        img {
          width: auto;
          height: 100%;
        }
      }
    }

    .menu {
      width: 60px;
      height: 60px;

      &.light {

        .item {
          background-color: white;
        }
      }

      &.dark {

        .item {
          background-color: gray;
        }
      }

      .menus {
        position: absolute;
        top: 50%;
        left: 22px;
        transform: translateY(-50%);

        .item {
          width: 23px;
          height: 1px;
          position: absolute;
          animation-duration: .5s;
          animation-fill-mode: forwards;
          animation-direction: alternate;
          animation-timing-function: cubic-bezier(.215, .61, .355, 1);

          &.top {
            top: -8px;
            transform: translateY(0);
          }

          &.center {
            //width: 18px;
            animation-delay: .1s;
          }

          &.bottom {
            top: 8px;
          }
        }
      }
    }
  }

  .content {
    height: 100%;
    background-color: white;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    display: none;

    ul {
      margin: 0;
      list-style: none;
      padding: 70px 35px 0;

      li {

        a {
          display: inline-block;
          height: 52px;
          line-height: 52px;
          font-size: 16px;
          color: black;
          text-underline: none;
        }
      }
    }
  }

  &.action {
    background-color: white;
    height: 100%;

    .menu {

      .top {
        animation-name: menu-top-in;
      }

      .center {
        animation-name: menu-center-in;
      }

      .bottom {
        animation-name: menu-bottom-in;
      }
    }

    .content {
      display: block;
      animation-name: content-in;
    }
  }

  &.close {

    .menu {

      .top {
        animation-name: menu-top-out;
      }

      .center {
        animation-name: menu-center-out;
      }

      .bottom {
        animation-name: menu-bottom-out;
      }
    }

    .content {
      animation-name: content-out;
      animation-duration: .1s;
    }
  }
}

@keyframes menu-top-in {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(8px) rotate(-45deg);
  }
}

@keyframes menu-center-in {
  0% {
    width: 23px;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes menu-bottom-in {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(-8px) rotate(45deg);
  }
}

@keyframes menu-top-out {
  0% {
    transform: translateY(8px) rotate(-45deg);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes menu-center-out {
  0% {
    width: 0;
  }
  50% {
    width: 23px;
  }
  100% {
    width: 23px;
  }
}

@keyframes menu-bottom-out {
  0% {
    transform: translateY(-8px) rotate(45deg);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes content-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes content-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}