.main {
  padding-top: 80px;

  .section {
    max-width: 1920px;
    margin: 0 auto;

    .filter {
      text-align: center;
      margin: 50px 0 30px 0;

      li {
        display: inline-block;

        a {
          width: 100px;
          text-align: center;
          display: block;
          text-underline: none;
          text-decoration: none;
          color: black;

          .name {
            display: inline;
          }

          .alias {
            display: none;
          }

          &:hover {

            .name {
              display: none;
            }

            .alias {
              display: inline;
            }
          }
        }
      }
    }

    .projects {

      :global {

        .show {

          img {
            opacity: 1 !important;
            transition-delay: 0.5s;
          }
        }
      }

      .project {
        width: 100%;
        height: 39vh;
        padding: 5px;

        a {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          color: white;

          &:hover {
            img {
              transform: scale(1.2);
            }

            .tips {
              opacity: 1;
              color: white;
              transition: all .3s ease;
            }

            .mark {
              opacity: 1;
              transition: all .3s ease;
            }
          }

          .tips {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 9;
            padding: 20px;
            color: black;
            opacity: 0;

            span {
            }

            h3 {
              margin: 0;
            }
          }

          .mark {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background: linear-gradient(to top, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .4) 30%, rgba(0, 0, 0, 0) 80%);
            z-index: 8;
          }

          .thumb {
            height: 100%;
            position: relative;
            overflow: hidden;

            img {
              opacity: 0;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              box-sizing: inherit;
              transition: all 1.2s ease-in-out;
            }
          }
        }
      }
    }

    .paginate {
      margin: 30px 10px 50px 0;
      float: right;
      clear: both;

      a {
        width: 100%;
        display: inline-block;
        text-decoration: none;
        color: black;
      }
    }

    .empty {
      margin: 100px 0;
    }
  }
}