.main {
  padding-top: 80px;

  .section {
    max-width: 1920px;
    margin: 0 auto;

    .filter {
      text-align: center;
      margin: 50px 0 30px 0;

      li {
        display: inline-block;

        a {
          height: 18px;
          line-height: 18px;
          padding: 0 10px;
          //width: 100px;
          text-align: center;
          display: block;
          text-underline: none;
          text-decoration: none;
          color: black;
          overflow: hidden;

          span {
            display: block;
          }

          //.name {
          //  display: inline;
          //}

          //.alias {
          //  //display: none;
          //}

          &:hover {

            .name {
              position: relative;
              top: -18px;
              //display: none;
            }

            .alias {
              position: relative;
              top: -18px;
              //display: inline;
            }
          }
        }
      }
    }

    .projects {
      margin-bottom: 50px;
      padding: 5px;

      :global {

        .show {

          img {
            opacity: 1 !important;
            transition-delay: 0.5s;
          }
        }
      }

      .project {

        a {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          color: white;
          overflow: hidden;

          &:hover {
            img {
              transform: scale(1.2);
            }

            .tips {
              opacity: 1;
              color: white;
              transition: all .3s ease;
            }

            .mark {
              opacity: 1;
              transition: all .3s ease;
            }
          }

          .tips {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 9;
            padding: 20px;
            color: black;
            opacity: 0;

            span {
            }

            h3 {
              font-weight: normal;
              font-size: 14px;
              margin: 0;
            }
          }

          .mark {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background: linear-gradient(to top, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .4) 30%, rgba(0, 0, 0, 0) 80%);
            z-index: 8;
          }

          img {
            display: block;
            opacity: 0;
            width: 100%;
            height: auto;
            transition: all 1.2s ease-in-out;
          }
        }
      }
    }

    .loading {
      text-align: center;
      margin: 50px 0;
    }

    .paginate {
      display: none;
      margin: 30px 10px 50px 0;
      float: right;
      clear: both;

      a {
        width: 100%;
        display: inline-block;
        text-decoration: none;
        color: black;
      }
    }

    .empty {
      margin: 100px 0;
    }
  }
}