@import "config";

.main {
  margin-bottom: 50px;

  .pc {
    position: relative;
    overflow: hidden;

    @media (max-width: $mobileWidth) {
      display: none;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-sizing: inherit;
      animation: image-pulse 30s ease-in-out infinite alternate
    }
  }

  .mobile {
    display: none;

    @media (max-width: $mobileWidth) {
      display: block;
      padding-top: 60px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .container {
    padding: 100px 36px 0;

    @media (max-width: $mobileWidth) {
      padding: 100px 15px 0;
    }

    > *, .html > * {
      opacity: 0;
      transition: .6s;
      transform: translateY(50px);
    }

    :global {

      .show {
        opacity: 1 !important;
        transform: translateY(0) !important;
      }
    }

    .information {
      //font-family: "微软雅黑", -apple-system, sans-serif;
      letter-spacing: 0;

      h3 {
        font-size: 32px;
        margin: 23px 0 25px;
        font-weight: 500;
      }

      p {
        font-size: 22px;
        line-height: 26px;
        margin: 0 0 0;

        &.date {
          font-size: 18px;
        }
      }
    }

    .html {
      font-size: 23px;
      letter-spacing: 0;
      //margin-top: 20px;
      opacity: 1 !important;
      transform: translateY(0) !important;

      p {
        line-height: 30px;
      }
    }
  }

  .pictures {
    margin: 100px auto 60px;
    padding: 0 30px;

    @media (max-width: $mobileWidth) {
      padding: 0 15px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .recommends {
    margin: 0 auto 50px;
    padding: 0 36px;

    @media (max-width: $mobileWidth) {
      padding: 0 15px;
    }

    :global {

      .show {
        opacity: 1 !important;
        transform: translateY(0) !important;

        img {
          opacity: 1 !important;
        }
      }
    }

    > * {
      opacity: 0;
      transform: translateY(50px);
      transition: .6s;
    }

    h5 {
      font-size: 23px;
      font-weight: normal;
      margin-bottom: 16px;
      margin-top: 0;
    }

    .recommend {

      a {
        position: relative;
        display: block;
        width: 100%;
        height: inherit;
        color: black;
        overflow: hidden;

        &:hover {
          img {
            transform: scale(1.2);
          }

          .tips {
            opacity: 1;
            color: white;
            transition: all .6s ease;
          }

          .mark {
            opacity: 1;
            transition: all .3s ease;
          }
        }

        .tips {
          opacity: 0;
          position: absolute;
          bottom: 0;
          z-index: 9;
          padding: 15px;

          span {
            font-size: 12px;
          }

          h3 {
            font-weight: normal;
            margin: 0;
            font-size: 13px;
            line-height: 14px;
          }
        }

        .mark {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          pointer-events: none;
          background: linear-gradient(to top, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, .4) 30%, rgba(0, 0, 0, 0) 80%);
          z-index: 8;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          transition: all 1.2s ease-in-out;
        }
      }
    }
  }
}

:global {

  @keyframes image-pulse {
    0% {
      -webkit-transform: scale(1.01);
      -moz-transform: scale(1.01);
      -ms-transform: scale(1.01);
      -o-transform: scale(1.01);
      transform: scale(1.01)
    }

    100% {
      -webkit-transform: scale(1.15);
      -moz-transform: scale(1.15);
      -ms-transform: scale(1.15);
      -o-transform: scale(1.15);
      transform: scale(1.15)
    }
  }
}