.main {
  margin-bottom: 50px;

  .picture {
    //height: 100vh;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-sizing: inherit;
      animation: image-pulse 30s ease-in-out infinite alternate
    }
  }

  .container {
    padding: 50px 5vw 0;

    > *, .html > * {
      opacity: 0;
      transition: .6s;
      transform: translateY(50px);
    }

    :global {

      .show {
        opacity: 1 !important;
        transform: translateY(0) !important;
      }
    }

    > h3 {
      margin: 100px 0 50px 0;
    }

    > p {
      margin: 0;
    }

    .html {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }
  }

  .pictures {
    margin: 50px auto 50px;
    padding: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .recommends {
    margin: 0 auto 50px;
    padding: 10px;

    :global {

      .show {
        opacity: 1 !important;
        transform: translateY(0) !important;

        img {
          opacity: 1 !important;
        }
      }
    }

    > * {
      opacity: 0;
      transform: translateY(50px);
      transition: .6s;
    }

    h5 {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 25px;
      margin-top: 0;
    }

    .recommend {
      width: 100%;
      position: relative;

      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        color: black;

        &:hover {
          img {
            transform: scale(1.2);
            //opacity: 0;
          }

          .tips {
            opacity: 1;
            color: white;
            transition: all .3s ease;
          }

          .mark {
            opacity: 1;
            transition: all .3s ease;
          }
        }

        .tips {
          opacity: 0;
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 9;
          padding: 10px;

          span {
            font-size: 12px;
          }

          h3 {
            margin: 0;
            font-size: 13px;
            line-height: 14px;
          }
        }

        .mark {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          pointer-events: none;
          background: linear-gradient(to top, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .4) 30%, rgba(0, 0, 0, 0) 80%);
          z-index: 8;
        }

        .thumb {
          width: 100%;
          height: 300px;
          position: relative;
          overflow: hidden;

          img {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-sizing: inherit;
            transition: all 1.2s ease-in-out;
          }
        }
      }

      height: auto;
    }
  }
}

:global {

  @keyframes image-pulse {
    0% {
      -webkit-transform: scale(1.01);
      -moz-transform: scale(1.01);
      -ms-transform: scale(1.01);
      -o-transform: scale(1.01);
      transform: scale(1.01)
    }

    100% {
      -webkit-transform: scale(1.15);
      -moz-transform: scale(1.15);
      -ms-transform: scale(1.15);
      -o-transform: scale(1.15);
      transform: scale(1.15)
    }
  }

}